/*
Regola reset
*/
body, header, h1, h2 {
    margin: 0;
    padding: 0;
}


aside img {
    width: 50px;
}

body {
    background-color: #e4e4e4;
}

body > header, body > footer {
    background-color: rgb(54, 54, 54);
    color: #ffff;
    text-align: center;
    padding: 20px 0;
}

body > header > h1 {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    margin: 0 5%;
}

nav > ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

nav ul li {
    display: inline-block;
    width: 45%;
    background-color: rgb(54, 54, 54);
    text-align: center;
    margin: 10px 0 0;
}

nav ul li:nth-child(odd){
    margin-right: 10%;
}

nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 0;
}

nav ul li a:hover{
    color: rgb(219,69,83);
}

main {
    margin: 20px 5% 0;
}

main > article {
    background-color: #fff;
    border: 1px solid #cacaca;
    margin-bottom: 10px;
}

article > div {
    height: 200px;
    text-align: center;
}

article > div > img {
    max-width: 100%;
    max-height: 100%;
}

article > h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

article > h2, article > p {
    padding: 0 5%;
} 

article > a {
    display: block; 
    width: fit-content;
    margin-left: auto; 
    margin-top: 20px;
    margin-right: 5%;
    margin-bottom: 5%;
    text-decoration: none;
    color: #000;
    background-color: rgb(221,221,221);
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}